#### load R packages for data munging

In [4]:
library(reshape2)
library(dplyr)
library(plotly)
options(scipen=999)

Warning message:
"package 'dplyr' was built under R version 3.4.2"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

Loading required package: ggplot2

Attaching package: 'plotly'

The following object is masked from 'package:ggplot2':

    last_plot

The following object is masked from 'package:stats':

    filter

The following object is masked from 'package:graphics':

    layout

In [50]:
pop = read.csv('population.csv')

dim(pop)
str(pop)

# convert all factor variables into character
pop%>% mutate_if(is.factor, as.character) -> pop

[1] 210  14

'data.frame':	210 obs. of  14 variables:
 $ country  : Factor w/ 210 levels "Afghanistan",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ region   : Factor w/ 17 levels "Caribbeans","Central America",..: 3 14 6 10 14 15 1 1 11 16 ...
 $ continent: Factor w/ 6 levels "Africa","Asia",..: 2 3 1 5 3 1 4 4 6 2 ...
 $ X2005    : num  24.3999 3.0115 33.2679 0.0591 0.0812 ...
 $ X2006    : num  25.1836 2.9925 33.7493 0.0586 0.0834 ...
 $ X2007    : num  25.8775 2.97 34.262 0.0579 0.0849 ...
 $ X2008    : num  26.5287 2.9473 34.8111 0.057 0.0856 ...
 $ X2009    : num  27.2073 2.9275 35.4018 0.0562 0.0855 ...
 $ X2010    : num  27.9622 2.913 36.0362 0.0556 0.0844 ...
 $ X2011    : num  28.8092 2.9048 36.7171 0.0553 0.0823 ...
 $ X2012    : num  29.7268 2.9002 37.4394 0.0552 0.0793 ...
 $ X2013    : num  30.6825 2.8967 38.1861 0.0553 0.0759 ...
 $ X2014    : num  31.6275 2.8937 38.9343 0.0554 0.0728 ...
 $ X2015    : num  32.5266 2.8892 39.6665 0.0555 0.0705 ...

#### change column names (X2005 --> 2005)

In [51]:
year_names = names(pop)[4:length(names(pop))]
names(pop)[4:length(names(pop))] = substring(year_names, 2)

#### reshape the dataframe of population

In [52]:
a = melt(pop, id.vars = c("country", "region", "continent"))

names(a) <- c('country', 'region', 'continent', 'year', 'pop')

pop = a

In [67]:
str(pop)

'data.frame':	2310 obs. of  5 variables:
 $ country  : chr  "Afghanistan" "Afghanistan" "Afghanistan" "Afghanistan" ...
 $ region   : chr  "Central Asia" "Central Asia" "Central Asia" "Central Asia" ...
 $ continent: chr  "Asia" "Asia" "Asia" "Asia" ...
 $ year     : num  2005 2006 2007 2008 2009 ...
 $ pop      : num  24.4 25.2 25.9 26.5 27.2 ...

#### change year from factor to numeric and sort the dataframe by country and year

In [66]:
pop$year = as.numeric(as.character(pop$year))

pop = pop[order(pop$country, pop$year), ]

### load data of projected virtual water export

In [155]:
# read in the projected vitual water exports data
projected = read.csv("water_projected_exports.csv")

# convert factor columns into character
projected%>% mutate_if(is.factor, as.character) -> projected
str(projected)
head(projected)

'data.frame':	1680 obs. of  28 variables:
 $ country     : chr  "Afghanistan" "Albania" "Algeria" "American Samoa" ...
 $ product_type: chr  "crop" "crop" "crop" "crop" ...
 $ water_type  : chr  "green" "green" "green" "green" ...
 $ X1996       : num  159.5 282.93 188.51 3.32 30.5 ...
 $ X1997       : num  159.5 282.93 188.51 3.32 30.5 ...
 $ X1998       : num  159.5 282.93 188.51 3.32 30.5 ...
 $ X1999       : num  159.5 282.93 188.51 3.32 30.5 ...
 $ X2000       : num  159.5 282.93 188.51 3.32 30.5 ...
 $ X2001       : num  159.5 282.93 188.51 3.32 30.5 ...
 $ X2002       : num  159.5 282.93 188.51 3.32 30.5 ...
 $ X2003       : num  159.5 282.93 188.51 3.32 30.5 ...
 $ X2004       : num  159.5 282.93 188.51 3.32 30.5 ...
 $ X2005       : num  159.5 282.93 188.51 3.32 30.5 ...
 $ X2006       : num  164.29 291.42 194.17 3.42 31.41 ...
 $ X2007       : num  169.22 300.16 200 3.53 32.35 ...
 $ X2008       : num  174.29 309.17 206 3.63 33.32 ...
 $ X2009       : num  179.52 318.44 212.18 3.74 34.32 ...
 $ X2010       : num  184.91 328 218.54 3.85 35.35 ...
 $ X2011       : num  192.3 341.12 227.28 4.01 36.77 ...
 $ X2012       : num  200 354.76 236.37 4.17 38.24 ...
 $ X2013       : num  208 368.95 245.83 4.34 39.77 ...
 $ X2014       : num  216.32 383.71 255.66 4.51 41.36 ...
 $ X2015       : num  224.97 399.06 265.89 4.69 43.01 ...
 $ X2016       : num  236.22 419.01 279.18 4.92 45.16 ...
 $ X2017       : num  248.03 439.96 293.14 5.17 47.42 ...
 $ X2018       : num  260.43 461.96 307.8 5.43 49.79 ...
 $ X2019       : num  273.5 485.1 323.2 5.7 52.3 ...
 $ X2020       : num  287.12 509.31 339.35 5.99 54.9 ...

  country        product_type water_type X1996      X1997      X1998
1 Afghanistan    crop         green      159.502828 159.502828 159.502828
2 Albania        crop         green      282.933966 282.933966 282.933966
3 Algeria        crop         green      188.514934 188.514934 188.514934
4 American Samoa crop         green        3.324977   3.324977   3.324977
5 Andorra        crop         green       30.497044  30.497044  30.497044
6 Angola         crop         green      409.539253 409.539253 409.539253
  X1999      X2000      X2001      X2002      ... X2011      X2012
1 159.502828 159.502828 159.502828 159.502828 ... 192.303793 199.995945
2 282.933966 282.933966 282.933966 282.933966 ... 341.117932 354.762649
3 188.514934 188.514934 188.514934 188.514934 ... 227.282095 236.373379
4   3.324977   3.324977   3.324977   3.324977 ...   4.008742   4.169092
5  30.497044  30.497044  30.497044  30.497044 ...  36.768609  38.239354
6 409.539253 409.539253 409.539253 409.539253 ... 493.758968 513.509327
  X2013      X2014      X2015      X2016      X2017      X2018      X2019
1 207.995783 216.315614 224.968239 236.216651 248.027483 260.428857 273.450300
2 368.953155 383.711281 399.059733 419.012719 439.963355 461.961523 485.059599
3 245.828314 255.661446 265.887904 279.182299 293.141414 307.798485 323.188409
4   4.335855   4.509289   4.689661   4.924144   5.170351   5.428869   5.700312
5  39.768928  41.359685  43.014072  45.164776  47.423015  49.794165  52.283874
6 534.049700 555.411688 577.628155 606.509563 636.835041 668.676793 702.110633
  X2020
1 287.122815
2 509.312579
3 339.347830
4   5.985328
5  54.898067
6 737.216164

In [156]:
year_names = names(projected)[4:length(names(projected))]
names(projected)[4:length(names(projected))] = substring(year_names, 2)

In [157]:
a = melt(projected, id.vars = c("country", "product_type", "water_type"))

names(a) <- c('country', 'product_type', 'water_type', 'year', 'exp')

In [158]:
a$year = as.numeric(as.character(a$year))
a = a[order(a$country, a$product_type, a$water_type, a$year), ]

projected = a

In [159]:
df = merge(x = pop, y = projected, on = c('country', 'year'), all = TRUE)

#### pop dataframe only has data from 2005 to 2015

In [160]:
unique(df[is.na(df$region), 'year'])

 [1] 1996 1997 1998 1999 2000 2001 2002 2003 2004 2016 2017 2018 2019 2020

#### add region and continent to all rows in the merged dataset df

In [161]:
country_region = unique(pop[, c('country', 'region', 'continent')])

In [164]:
df[, c('region', 'continent')] <- NULL

In [166]:
a = merge(x = df, y = country_region, on = 'country', all = TRUE)

In [173]:
df = a[, c('country', 'region', 'continent', 'year', 'pop', 'product_type', 'water_type', 'exp')]

In [188]:
unique(df[is.na(df$region), 'year'])

numeric(0)

In [14]:
df[df$country == 'C?te d\'Ivoire', ]$country <- 'Cote d\'Ivoire'
df[df$country == 'Congo, Dem Republic', ]$country <- 'Congo, Democratic Republic'

### Load dataset of current water footprint

In [114]:
current = read.csv("water_current.csv")
current%>% mutate_if(is.factor, as.character) -> current
str(current)
head(current)

'data.frame':	3360 obs. of  5 variables:
 $ country     : chr  "Afghanistan" "Albania" "Algeria" "American Samoa" ...
 $ action      : chr  "import" "import" "import" "import" ...
 $ product_type: chr  "crop" "crop" "crop" "crop" ...
 $ water_type  : chr  "green" "green" "green" "green" ...
 $ amount      : num  1219.775 984.332 13433.361 0.501 85.171 ...

  country        action product_type water_type amount
1 Afghanistan    import crop         green       1219.7752710
2 Albania        import crop         green        984.3321242
3 Algeria        import crop         green      13433.3606100
4 American Samoa import crop         green          0.5014506
5 Andorra        import crop         green         85.1706583
6 Angola         import crop         green       1084.8664350

#### add total water footprint to each country, product_type, water_type

In [115]:
a = aggregate(amount ~ country+product_type+water_type, current, function(x) sum(x))

a$action = 'total'

a = a[, c('country', 'action', 'product_type', 'water_type', 'amount')]

In [123]:
current = rbind(current, a)

#### add net water footprint to each country, product_type, water_type

In [22]:
a = aggregate(amount ~ country+product_type+water_type, current[current$action == 'import', ], function(x) sum(x))

b = aggregate(amount ~ country+product_type+water_type, current[current$action == 'export', ], function(x) sum(x))

names(a) <- c('country', 'product_type', 'water_type', 'import')

names(b) <- c('country', 'product_type', 'water_type', 'export')

c = merge(a, b, on = c('country', 'product_type', 'water_type'), all = TRUE)

In [41]:
c$amount = c$import - c$export

In [43]:
c = c[, c('country', 'product_type', 'water_type', 'amount')]

In [46]:
c$action = 'net'

In [48]:
c = c[, c('country', 'action', 'product_type', 'water_type', 'amount')]

In [53]:
current = rbind(current, c)

In [5]:
current[current$country == 'C?te d\'Ivoire', ]$country <- 'Cote d\'Ivoire'
current[current$country == 'Congo, Dem Republic', ]$country <- 'Congo, Democratic Republic'

#### save files into RData

In [15]:
save(current, file = 'current.RData')

In [6]:
df[df$water_type == 'Blue', ]$water_type <- 'blue'

In [8]:
df_population <- df

In [9]:
save(df_population, file = 'df.RData')

### Projection and Trending

In [1]:
load('df.RData')

In [2]:
load('current.RData')

In [5]:
dfPlot = dcast(df[df$country %in% c('USA', 'China'), ], year ~ country, value.var = 'exp', sum)

In [21]:
dfPlot = dcast(df[df$country %in% c('USA', 'China'), ], year ~ country, value.var = 'exp', sum)
p <- plot_ly(dfPlot, x = ~year, y = ~USA, type = 'bar', name = 'USA') %>%
  add_trace(y = ~China, name = 'China') %>%
  layout(yaxis = list(title = 'Virtual Water Exported (x 1,000,000 mÂ³)'), barmode = 'group')

In [7]:
write.csv(current, file = 'df_current.csv')

In [8]:
write.csv(df, file = 'df_df.csv')

In [4]:
names(current)

[1] "country"      "action"       "product_type" "water_type"   "amount"

In [5]:
names(df)

[1] "country"      "region"       "continent"    "year"         "pop"
[6] "product_type" "water_type"   "exp"

In [6]:
table(current$action)

export import    net  total
  1680   1680   1680   1680